.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(210, 210, 210);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    
    
    .dog-modal-link {
        position: fixed;
        right: 0;
        top: 0;
        font-size: 3em;
        padding: 15px;
        cursor: pointer;
        color: rgb(0, 133, 0);
        transition: 0.5s ease-in-out;

        &:hover {
            color:forestgreen;
            background-color: rgba(0, 0, 0, 0.39);
        }
    }

    .cat-modal-link{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3em;
        padding: 15px;
        cursor: pointer;
        color: darkgreen;
        transition: 0.5s ease-in-out;

        &:hover {
            color:forestgreen;
            background-color: black;
        }
    }

    
}

.dogs-list-wrapper{
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    

    .dog-list-wrapper {
        
        padding: 20px;
        

        iframe {
            height: 300px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}


.cats-list-wrapper{
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    

    .cat-list-wrapper {
        
        padding: 20px;
        

        iframe {
            height: 300px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.name {
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 10px;
}

.breed {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

.shelter-name {
    padding-left: 10px;
    padding-bottom: 5px;
}

.contact-email {
    padding-left: 10px;
    padding-bottom: 5px;
    color:blue;
}

.behavior {
    margin: 10px 0px;
}

